<h3>Edit Your Profile Content</h3>

<%= form_for user do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :email %><br>
    <%= f.email_field :email %><br>
    
    <%= f.label :bio, "Biography" %><br>
    <%= f.text_area :bio %><br>
    
    <%= f.submit %>
<% end %>