<h3>New User</h3>
    <% binding.pry %>
<% if user.errors %>

    <ul>
    <% user.errors.messages.each do |parameter, message| %>
        <p><%= parameter %>: <%= message %></p>
    <% end %>
    </ul>

<% end %>

<%= form_for user do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :email %><br>
    <%= f.email_field :email %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirm, "Confirm Password" %><br>
    <%= f.password_field :password_confirm %><br>

    <%= f.submit %>



<% end %>