<h3><%= path == "new" ? "Sign Up" : "Login"  %></h3>

<% if !user.errors.messages.empty? %>
    <h5 style="color: red;">Please review your submission</h5>
    <ul>
    <% user.errors.messages.each do |parameter, message| %>
        <li><%= parameter %>: <%= message[0] %></li>
    <% end %>
    </ul>

<% end %>

<%= form_for user, url: path == "new" ? users_path : signin_path do |f| %>

    <% if path == "new" %>
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
    <% end %>

    <%= f.label :email %><br>
    <%= f.email_field :email %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    
    <% if path == "new" %>
        <%= f.label :password_confirm, "Confirm Password" %><br>
        <%= f.password_field :password_confirm %><br>
    <% end %>

    <% if path == "new" %>
        <%= f.submit "Sign Up" %>
    <% else %>
        <%= f.submit "Login" %>
    <% end %>


<% end %>