<h1><%= course.title.titlecase %></h1>


<h3>Instructors</h3>
<ul>
    <% @instructors.each do |instructor| %>
        <li><%= link_to instructor.name, instructor %></li>
    <% end %>
</ul>


<h3>Students</h3>
<ul>
    <% @students.each do |student| %>
        <% if current_user.instructor? || current_user.admin? %>
            <li><%= link_to student.name, student %></li>
        <% else %>
            <li><%= student.name %></li>
        <%end %>
    <% end %>
</ul>


<h3>Lessons</h3>
<ul>

    <% @lessons.each do |lesson| %>
        <% if lesson.published || privileged %>
            <li><%= link_to lesson.title, lesson %></li>
        <% end %>
    <% end %>

</ul>
